<h1>This is the Model's index page.</h1>
<% @cars.each do |c| %>
  <p><a href="/hotwheelers/<%= c.hotwheeler_id %>" ><%= c.hotwheeler_id %>'s Cars</a></p>
  <h4>Year: <%= c.year %></h4>
  <h4>Make: <%= c.make %><h4>
  <h4>Model: <%= c.model %><h4>
  <h4>Color: <%= c.color %><h4>
  <h4>Rank: <%= c.rank %><h4>
<a href="/cars/<%= c.id %>">View Cars</a>
<br>

<% end %>
