<h1>This is the show page for an individual instance of your Car model.</h1>
<h3>Year: <%= @car.year %></h3>
<h3>Make: <%= @car.make %><h3>
<h3>Model: <%= @car.model %><h3>
<h3>Color: <%= @car.color %><h3>
<h3>Rank: <%= @car.rank %><h3>


<form method="post" action="/cars/<%= @car.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Car">
</form>
<h3><a href="/hotwheelers/<%= session[:user_id] %>">Back</a></h3>
